<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
       <div> <img src="/images/logo-mercado-liebre.svg" alt=""></div>
        <div id="logo"></div>
        <div id="buscador">
            <button><i class="fas fa-search"></i></button>
            <input type="text" id="busqueda" placeholder="Buscar productos, marcas">
        </div>
        <div id="b-cuotas">
            <p id="cuotas" class="header"><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de credito (El sueño del pibe)</p>
        </div>
        <nav>
            <ul class="listas">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="listas">
                <li><a href="">Crea tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
           
        </nav>
        
        <div id="menu"><button>
            <i class="fas fa-bars"></i>
        </button>
    </div>
        
    </header>
    <main>
        <div><img src="/images/img-home-banner.jpg" alt=""></div>
        <section>
            <h2>Basado en tú ultima visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" />

                <div>
                    <p>$6.770 </p>
                    <p>40%OFF </p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" />
                <div>
                    <p>$230.000</p>
                    <p>20% off </p>
                    <h4>MaxBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
                <div>
                    <p>$70.000 </p>
                    <p>10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" />
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h2>Ofertas!!</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" />

                <div>
                    <p>$6.770 </p>
                    <p>40%OFF </p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" />
                <div>
                    <p>$230.000</p>
                    <p>20% off </p>
                    <h4>MaxBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
                <div>
                    <p>$70.000 </p>
                    <p>10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" />
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>

    </main>
    <footer>
        
            <section>
                <i class="fas fa-credit-card icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="textos">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <i class="fas fa-gift icon"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="textos">
                    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
                    miles de productos. Es un beneficio de MercadoPuntos.
                </p>
            </section>
            <section>
                <i class="fas fa-user-shield icon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="textos">¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
    
            </section>
            <div class="copy">
                <p>Copyrigtht © 1999-2020 MercadoLibre S.R.L</p>
            </div>
           
        
    </footer>
</body>

</html>