@import "./footer.css";

:root {
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    --cuerpo-texto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

.header {

    background-color: var(--amarillo)
}

.listas li a i {

    margin-left: 10px;

}

#menu {

    width: fit-content;
    margin: 10px auto;

}